 .Header {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
    align-items: center;
}

.Header.img{
    margin-left: 80px;
} 

.Header span{
    font-size: 30px;
}

.Header .LoginButton{
    
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.Header .LoginButton:hover{
  background-color: #2980b9;
}

.Header .LoginButton{
  outline: none;
} 

