.About {
	
}

.About button{
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.About button:hover{
    background-color: #2980b9;
}

.About button{
    outline: none;
}

