/* .Footer {
position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #333;
} */

.Footer{
  
	display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

