.Footer {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: flex-end; /* Align items to the bottom */
  width: 100%; /* Make sure the container spans the full width */
  padding: 20px; /* Optional: Add some padding for spacing */
}

.Footer button {
  margin-right: 10px; /* Optional: Add some space between the button and other content */
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.Footer button:hover {
  background-color: #2980b9;
}

.Footer button {
  outline: none;
}

