.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  color: var(--color-first);
  background-color: var(--color-background);
}



.App>.Header {
  grid-column: 12 span;
  grid-row: 1 span;
}

.App>.Menu {
  grid-column: 2 span;
  grid-row: 10 span;
}

.App>.Main {
  grid-column: 10 span;
  grid-row: 10 span;
}

.App>.Footer {
  grid-column: 12 span;
  grid-row: 1 span;
}

.App h1, h2, h3, p, span {
  color: var(--color-second);
}

.moonEmoji,
.sunEmoji {
  font-size: 30px;
}

.moonEmoji {
  opacity: 1;
  transform: translateY(-50px);

  transition: opacity 0.3s ease, transform 0.3s ease;
}

.sunEmoji {
  opacity: 1;

  transition: opacity 0.3s ease;
}

.themeSwitch {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.themeSwitch.light-mode {
  background-color: #f5f5f5;
  color: #333;
}

.themeSwitch.dark-mode {
  background-color: #333;
  color: #f5f5f5;
}

.themeSwitch:hover {
  border-color: #fff;
}

App.toggle-button {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: 1px solid transparent;
}