@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import "react-toastify/dist/ReactToastify.css";

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Oxygen';
}

.myButton {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.myButton:hover {
    background-color: #45a049;
    color: white;
}

*/ html, body, #root {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

:root {
    --color-white: #ffffff;
    --color-black: #1b1e23;
    --color-green: #6db33f;

    --color-first: var(--color-black);
    --color-second: var(--color-green);
    --color-background: var(--color-white);
}

.dark {
    --color-first: var(--color-white);
    --color-second: var(--color-green);
    --color-background: var(--color-black);
}

.light {
    --color-first: var(--color-black);
    --color-second: var(--color-green);
    --color-background: var(--color-white);
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}