.CustomerCard .coupon-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.CustomerCard .coupon-details h3 {
    margin: 0;
    width: 100px; 
}

.CustomerCard .coupon-details p {
    margin: 0;
}

.CustomerCard .row2 {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.CustomerCard .row2 button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 45%;
    text-align: center;
}

.CustomerCard .row2 button:hover {
    background-color: #0056b3;
}
